{{extend 'layout.html'}}

<h1>Clients [{{=A(T('New'), _href=URL('client_edit'))}}]</h1>

<ul>
  {{for client in clients:}}
  <li id={{='cl_' + str(client.id)}}>
    <div>
      <span>{{=A(client.name, _href=URL('client_edit1', args=client.id), cid='cl_' + str(client.id))}}</span>
      <span>{{=client.billable}}</span>
    </div>    
    <ul>
      {{for matter in db(db.matter.client==client).select():}}
      <li id={{='mt_' + str(matter.id)}}>
	<div>
	  <span>{{=A(matter.name, _href=URL('matter_edit1', args=matter.id), cid='mt_' + str(matter.id))}}</span>
	</div>    
      </li>
      {{pass}}
    </ul>
  </li>
  {{pass}}
</ul>
