{{extend 'layout.html'}}

<h1>Clients</h1>

<ul id="clients">
  {{=A(T('New client'), _class='new-link', _href=URL('client_edit'), cid="new-area")}}
  {{for client in clients:}}
  <li>
    <span id={{='cl_' + str(client.id)}}>
      <span>
	<span>{{=A(client.name, _href=URL('client_edit', args=client.id), cid='cl_' + str(client.id))}}</span>
	<span>{{=client.billable}}</span>
	<span>{{=A('x', _onclick="$(this).parents('li').remove();$.get($(this).attr('href')); return false;", _href=URL('client_delete', args=client.id))}}</span>
      </span>    
    </span>
    <a class="expander" href="#">+</a>
    <ul style="display:none;">
      {{=A(T('New matter'), _href=URL('matter_edit', args=client.id), cid="new-area")}}
      {{for matter in db(db.matter.client==client).select():}}
      <li>
	<span id={{='mt_' + str(matter.id)}}>
	  <span>
	    <span>{{=A(matter.name, _href=URL('matter_edit', args=matter.id), cid='mt_' + str(matter.id))}}</span>
	    <span>{{=A('x', _onclick="$(this).parents('li:first').remove();$.get($(this).attr('href')); return false;", _href=URL('matter_delete', args=matter.id))}}</span>
	  </span>    
	</span>
	<a class="expander" href="#">+</a>
	<ul style="display:none;">
	  {{=A(T('New segment'), _href=URL('segment_edit', args=matter.id), cid="new-area")}}
	  {{for segment in db(db.segment.matter==matter).select():}}
	  <li>
	    <span id={{='sg_' + str(segment.id)}}>
	      <span>
		<span>{{=A(segment.name, _href=URL('segment_edit', args=segment.id), cid='sg_' + str(segment.id))}}</span>
		<span>{{=A('x', _onclick="$(this).parents('li:first').remove();$.get($(this).attr('href')); return false;", _href=URL('segment_delete', args=segment.id))}}</span>
	      </span>    
	    </span>
	  </li>
	  {{pass}}
	</ul>
      </li>    
      {{pass}}
    </ul>
  </li>  
  {{pass}}
</ul>

<script type="text/javascript">
  $(function(){
  $(".expander").click(function(e){
  $(this).nextAll("ul:first").slideToggle();
  e.preventDefault();
  });
  $(".new-link").click(function(e){
  $(this).parent().append('{{=LI(SPAN(_id="new-area"))}}');
  $("#new-area").ajaxComplete(function(event,request,settings) {
  if (settings.type == 'POST' && request.responseText.indexOf('span') != -1) {
  $("#new-area").replaceWith($("#new-area").html());
  }
  });
  });
  });
</script>
