{{extend 'layout.html'}}

{{=form.custom.begin}}
<table id="time_entry">
  <tbody>
    <tr class="head">
      <td>{{=T('Fee Earner')}}</td>
      <td>{{=T('Date')}}</td>
      <td>{{=T('Duration')}}</td>
    </tr>
    <tr>
      <td>{{=form.custom.widget.fee_earner}}</td>
      <td>{{=form.custom.widget.date}}</td>
      <td>{{=form.custom.widget.duration}}</td>
    </tr>
    <tr class="shead">
      <td>{{=T('Client')}}</td>
      <td>{{=T('Matter')}}</td>
      <td>{{=T('Segment')}}</td>
    </tr>
    <tr>
      <td>{{=form.custom.widget.client}}</td>
      <td><span id="matter_span">{{=form.custom.widget.matter}}</span></td>
      <td><span id="segment_span">{{=form.custom.widget.segment}}</span></td>
    </tr>
    <tr class="shead">
      <td colspan="3">{{=T('Code classification')}}</td>
    </tr>
    <tr>
      <td>{{=form.custom.widget.code_classification}}
    </tr>
    <tr class="shead">
      <td colspan="3">{{=T('Description')}}</td>
    </tr>
    <tr>
      <td colspan="3">{{=form.custom.widget.description}}</td>
    </tr>
    <tr class="shead">
      <td colspan="2">{{=T('Special Notes')}}</td>
      <td>{{=T('Related disbursements')}}</td>
    </tr>
    <tr>
      <td colspan="2">{{=form.custom.widget.special_notes}}</td>
      <td>{{=form.custom.widget.related_disbursements}}</td>
    </tr>
  </tbody>
</table>
{{if form.custom.deletable:}}
<div style="float:right;">
  <label for="delete_this_record">{{=T('Delete this time entry')}}</label>
  {{=form.custom.deletable}}
</div>
{{pass}}
{{=form.custom.submit}}
{{=form.custom.end}}

<script type="text/javascript">
    function enable_disable(parent, child, target, url, callback) {
	if(parent.val() == "") {
	    child.val("");
	    child.attr("disabled","disabled");
	} else {
	    child.attr("disabled","");
	    target.load(url + parent.val(), callback);
	}
    }  

$(function(){
    client = $("#time_entry_client");
    $("#time_entry_related_disbursements").chosen();
    if(client.val() == "") {
	 $("#time_entry_matter").attr("disabled","disabled");
    } else {
	old_matter = $('option:selected',  $("#time_entry_matter")).val();
	$.get("{{=URL('matters_callback')}}/" + client.val(), function(data){
		$("#matter_span>select").replaceWith(data);
	    $("option[value=" + old_matter +"]", $("#time_entry_matter")).attr('selected', 'selected');
	});
    }
    
    if( $("#time_entry_matter").val() == "") {
	$("#time_entry_segment").attr("disabled","disabled");
    } else {
	old_segment = $('option:selected',  $("#time_entry_segment")).val();
	$("#segment_span").load("{{=URL('segment_callback')}}/" + $("#time_entry_matter").val(), function(){
	    $("option[value=" + old_segment +"]", $("#time_entry_segment")).attr('selected', 'selected');
	});
    }
    
    client.change(function(){
	enable_disable(client, $("#time_entry_matter"), $("#matter_span"), "{{=URL('matters_callback')}}/", function(){
	    matter = $("#time_entry_matter");
	    matter.change(function(){
		enable_disable(matter, $("#time_entry_segment"), $("#segment_span"), "{{=URL('segment_callback')}}/");
	    });
	    matter.change();
	});
    });
    
     $("#time_entry_matter").change(function(){
	enable_disable(matter, $("#time_entry_segment"), $("#segment_span"), "{{=URL('segment_callback')}}/");
    });
});
</script>

