{{extend 'layout.html'}}

{{=form.custom.begin}}
<table id="time_entry">
  <tbody>
    <tr class="head">
      <td colspan="3">Fee Earner</td>
      <td>Date</td>
      <td>Duration</td>
    </tr>
    <tr>
      <td colspan="3">Fee Earner</td>
      <td>{{=form.custom.widget.date}}</td>
      <td>{{=form.custom.widget.duration}}</td>
    </tr>
    <tr class="shead">
      <td>Client</td>
      <td>Matter</td>
      <td>Segment</td>
      <td colspan="2">Code classification</td>
    </tr>
    <tr>
      <td>{{=form.custom.widget.client}}</td>
      <td><span id="matter_span">{{=form.custom.widget.matter}}</span></td>
      <td><span id="segment_span">{{=form.custom.widget.segment}}</span></td>
      <td colspan="2">{{=form.custom.widget.code_classification}}</td>
      <td></td>
    </tr>
    <tr class="shead">
      <td colspan="5">Description</td>
    </tr>
    <tr>
      <td colspan="5">{{=form.custom.widget.description}}</td>
    </tr>
    <tr class="shead">
      <td colspan="3">Special Notes</td>
      <td colspan="2">Related Disbursement</td>
    </tr>
    <tr>
      <td colspan="3">{{=form.custom.widget.special_notes}}</td>
      <td colspan="2">{{=form.custom.widget.related_disbursements}}</td>
    </tr>
  </tbody>
</table>
{{=form.custom.submit}}
{{=form.custom.end}}

<script type="text/javascript">
  function enable_disable(parent, child, target, url, callback) {
  if(parent.val() == "") {
  child.val("");
  child.attr("disabled","disabled");
  } else {
  child.attr("disabled","");
  target.load(url + parent.val(), callback);
  }
  }  
  $(function(){
  client = $("#time_entry_client");
  matter = $("#time_entry_matter");

  if(client.val() == "") {
  matter.attr("disabled","disabled");
  } 

  if(matter.val() == "") {
  $("#time_entry_segment").attr("disabled","disabled");
  }
  
  client.change(function(){
  enable_disable(client, $("#time_entry_matter"), $("#matter_span"), "{{=URL('matters_callback')}}/", function(){
  matter = $("#time_entry_matter");
  matter.change(function(){
  enable_disable(matter, $("#time_entry_segment"), $("#segment_span"), "{{=URL('segment_callback')}}/");
  });
  matter.change();
  });
  });
  
  matter.change(function(){
  enable_disable(matter, $("#time_entry_segment"), $("#segment_span"), "{{=URL('segment_callback')}}/");
  });
  });
</script>

