{{extend 'layout.html'}}

{{if current_user_perm and len(current_user_perm.auth_list):}}
{{=form.custom.begin}}
{{=T('Fee earner')}}: {{=form.custom.widget.fee_earner}}
{{=form.custom.submit}}
{{=form.custom.end}}
{{pass}}
<br/>
<div id="calendar"></div>

<script type="text/javascript">
    $(function(){
	{{if session.current_date:}}
	var d = $.fullCalendar.parseDate("{{=session.current_date}}"); 
	{{pass}}
	var calendar = $("#calendar").fullCalendar({
	    {{if session.current_date:}}
	    year:  d.getFullYear(),
	    month: d.getMonth(),
	    date: d.getDate(),
	    {{pass}}
	    {{ if session.view:}}
	    defaultView: '{{=session.view}}',
	    {{pass}}
	    theme: true,
	    header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaWeek,agendaDay'
	    },
	    monthNames: ['{{=T("January")}}', '{{=T("February")}}', '{{=T("March")}}', '{{=T("April")}}', '{{=T("May")}}', '{{=T("June")}}', '{{=T("July")}}', '{{=T("August")}}', '{{=T("September")}}', '{{=T("October")}}', '{{=T("November")}}', '{{=T("December")}}'],
	    monthNamesShort: ['{{=T("Jan")}}', '{{=T("Feb")}}', '{{=T("Mar")}}', '{{=T("Apr")}}', '{{=T("May")}}', '{{=T("Jun")}}', '{{=T("Jul")}}', '{{=T("Aug")}}', '{{=T("Sep")}}', '{{=T("Oct")}}', '{{=T("Nov")}}', '{{=T("Dec")}}'],
	    dayNames: ['{{=T("Sunday")}}', '{{=T("Monday")}}', '{{=T("Tuesday")}}', '{{=T("Wednesday")}}', '{{=T("Thursday")}}', '{{=T("Friday")}}', '{{=T("Saturday")}}'],
	    dayNamesShort: ['{{=T("Sun")}}', '{{=T("Mon")}}', '{{=T("Tue")}}', '{{=T("Wed")}}', '{{=T("Thu")}}', '{{=T("Fri")}}', '{{=T("Sat")}}'],
	    {{if session._lang == 'ro-ro' or (T.accepted_language and T.accepted_language.startswith('ro-ro')):}}
	    firstDay:1,
	    {{pass}}
	    buttonText: {
		today: '{{=T("today")}}',
		day: '{{=T("day")}}',
		week:'{{=T("week")}}',
		month:'{{=T("month")}}'
              },
	    allDayText: '{{=T("all-day")}}',
	    events: "{{=URL('entries')}}",
	    eventDrop: function(event, delta) {
		$.get("{{=URL('entry_drop')}}/" + event.id + "/" + Math.round(event.start.getTime()/1000.0));
	    },
	    selectable: true,
	    selectHelper: true,
	    select: function(start, end, allDay) {		
		window.location="{{=URL('entry_new')}}/?start=" + Math.round(start.getTime()/1000.0) + "&end=" + Math.round(end.getTime()/1000.0); 
		calendar.fullCalendar('unselect');
	    },
	    editable: true,
	    eventRender: function(event, element) {
		element.qtip({
		    content: event.description,
		    style: { name: 'light', tip: true, border: {width: 2, radius: 8, color: '#6699CC'} }
		});
	    },
	    viewDisplay: function(view) {
		$.get("{{=URL('change_view')}}/" + view.name);
	    }
	});

    });
</script>
