{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}

<h1>{{=T('Last entries')}} [{{=A(T('New'),_href=URL('entry_edit'))}}]</h1>

<table>
  <thead>
    <tr>
      <th>{{=T('Description')}}</th>
      <th>{{=T('Client')}}</th>
      <th>{{=T('Matter')}}</th>
      <th>{{=T('Segment')}}</th>
      <th>{{=T('Date')}}</th>
      <th>{{=T('Duration')}}</th>
      <th>{{=T('Rate')}}</th>
    </tr>
  </thead>
  <tbody>
    {{for entry in entries:}}
    <tr>
      <td>{{=A(entry.description[:20] +"...", _href=URL('entry_edit', args=entry.id))}}</td>
      <td>{{=entry.client.name}}</td>
      <td>{{=entry.matter.name}}</td>
      <td>{{if entry.segment:}}{{=entry.segment.name}}{{pass}}</td>
      <td>{{=entry.date}}</td>
      <td>{{=entry.duration}}</td>
      <td>{{=entry.rate}}</td>
    </tr>
    {{pass}}
  </tbody>
</table>

{{block left_sidebar}}New Left Sidebar Content{{end}}
{{block right_sidebar}}New Right Sidebar Content{{end}}
