{{=A(IMG(_src=URL('static/images', 'delete.png'), _alt='+', _height="16px"), _onclick="if(confirm('Are you shure you want to delete this element?')) {$(this).parents('li:first').remove();$.get($(this).attr('href'));} return false;", _href=delete_link)}}
{{if new_string:}}
{{=A(IMG( _src=URL('static/images', 'expand.png'), _alt='+', _height="16px"), _class='expander', _href='#')}}
<ul id="{{=selector}}" style="display:none;">
  {{=A(new_string, _class='new-link', _href=URL(new_link, args=eid, vars=dict(new=True)), cid="new-area")}}
</ul>
{{pass}}
