{{extend 'layout.html'}}

<div class="rep">
  <div class="left">
    {{=form}}
  </div>
</div>

<h2>{{=entries_set.count()}} {{=T('time entries')}}</h2>

<div class="rep">
  <a id="csv-link" href="{{=URL('default', 'reports.csv')}}">{{=T('Download as CSV')}}</a>
  <a id="pdf-link" href="{{=URL('default', 'reports.pdf')}}">{{=T('Download as PDF')}}</a>
</div>
<br/>
<div class="rep">
  <div class="left">
    <table>
      <thead>
	<tr>
	  <th>{{=T('Id')}}</th>
	  <th>{{=T('User')}}</th>
	  <th>{{=T('Time spent')}}</th>
	</tr>
      </thead>
      <tbody>
	{{for elem in earners:}}
	<tr>
	  <td>{{=elem.auth_user.id}}</td>
	  <td width="300px">{{=elem.auth_user.first_name}}</td>
	  <td>{{=elem['SUM(time_entry.duration)']}}</td>
	</tr>
	{{pass}}
      </tbody>
    </table>
    
  </div>
  <div class="right">{{=plugin_wiki.widget('pie_chart', data=earner_durations ,names=earner_names)}}</div>
</div>

<div class="rep">
  <div class="left">
    <table>
      <thead>
	<tr>
	  <th>{{=T('Id')}}</th>
	  <th>{{=T('Client')}}</th>
	  <th>{{=T('Time spent')}}</th>
	</tr>
      </thead>
      <tbody>
	{{for elem in clients:}}
	<tr>
	  <td>{{=elem.client.id}}</td>
	  <td width="300px">{{=elem.client.name}}</td>
	  <td>{{=elem['SUM(time_entry.duration)']}}</td>
	</tr>
	{{pass}}
      </tbody>
    </table>
  </div>
  <div class="right">{{=plugin_wiki.widget('pie_chart', data=client_durations ,names=client_names)}}</div>
</div>

<div class="rep">
  <div class="left">
    <table>
      <thead>
	<tr>
	  <th>{{=T('Id')}}</th>
	  <th>{{=T('Matter')}}</th>
	  <th>{{=T('Time spent')}}</th>
	</tr>
      </thead>
      <tbody>
	{{for elem in matters:}}
	<tr>
	  <td>{{=elem.matter.id}}</td>
	  <td width="300px">{{=elem.matter.name}}</td>
	  <td>{{=elem['SUM(time_entry.duration)']}}</td>
	</tr>
	{{pass}}
      </tbody>
    </table>
  </div>
  <div class="right">{{=plugin_wiki.widget('pie_chart', data=matter_durations ,names=matter_names)}}</div>
</div>
<br/><br/>

<table>
<thead>
<tr>
  <th>{{=T('Date')}}</th>
  <th>{{=T('Fee earner')}}</th>
  <th>{{=T('Client')}}</th>
  <th>{{=T('Matter')}}</th>
  <th>{{=T('Duration')}}</th>
  <th>{{=T('Description')}}</th>
</tr>
</thead>
<tbody>
  {{for i,entry in enumerate(entries):}}
  {{if i==items_per_page: break}}
  <tr>
    <td>{{=entry.time_entry.date}}
    <td>{{=entry.auth_user.first_name}}</td>
    <td>{{=entry.client.name}}</td>
    <td>{{=entry.matter.name}}</td>
    <td>{{=entry.time_entry.duration}}</td>
    <td>{{=entry.time_entry.description}} </td>
  </tr>
{{pass}}
</tbody>
</table>
{{if page:}}
<a href="{{=URL(args=[page-1])}}">previous</a>
{{pass}}

{{if len(entries)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}

<script type="text/javascript">
  $(function(){
      $("#csv-link, #pdf-link").click(function(e){
	  var form = $("form");
	  form.attr("action", $(this).attr("href"));
	  form.submit();
	  form.attr("action", "");
	  e.preventDefault();
      });
  });
</script>
